@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  line-height: 60px;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

label {
  font-size: 1.5rem;
}

input {
  border: 2px solid rgb(226, 226, 226);
  padding: 8px;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #782a76;
}

select {
  border: 2px solid rgb(226, 226, 226);
  padding: 8px;
  border-radius: 4px;
}

select:focus {
  outline: none;
  border-color: #782a76;
}

textarea {
  border: 2px solid rgb(226, 226, 226);
  padding: 8px;
  border-radius: 4px;
  min-height: 200px;
  max-height: 200px;
}

@media (max-width: 768px) {
  textarea {
    min-width: 320px;
    max-width: 320px;
  }
}

textarea:focus {
  outline: none;
  border-color: #782a76;
}

button {
  background-color: #782a76;
  border-radius: 4px;
  width: fit-content;
  padding: 8px 16px;
  color: white;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#782a76 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#782a76);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation:s3 1s infinite linear;
}
@keyframes s3{ 
  100%{transform: rotate(1turn)}
}